/* CSS declarations go here */

/*.thisStreamactive {
  background: #EFE;
}*/
.streamNavButton {
	width: 50%;
	border-radius: 5px;
}
li.active {
	background-color: #66FF33;
}
li.point {
	margin: 0px;
	padding: 10px;
	border: solid 1px #CCC;
	border-radius: 5px;
	/*cursor: pointer*/
}
ul.points {
	margin:0;
	list-style: none;
}
ul.streams {
	margin:0;
	list-style: none;
}
ul.streams .badge {
	cursor: pointer;
}
li.stream {
	margin: 0px;
	padding: 10px;
	border: solid 1px #CCC;
	border-radius: 5px;
}
li.point .btn-group button {
	/*float:right;*/
	/*margin: 0px 2px;*/
	display: none;
}
li.point img {
	max-width: 50px;
	max-height: 50px;
}
.inputNewPoint {
	/*margin-top: 10px;*/
	border-radius: 5px;
	margin:0;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*.addNewPointContainer button .btn{
	margin-top:0px;
}*/
.addNewPointContainer .btn-block {
	margin-top:0px;
}
.navItems {
	text-align: center;
	padding: 5px;
}