/* CSS declarations go here */

.thisStreamactive {
  background: #EFE;
}

li.active {
	background-color: #33FF33;
}

li.point {
	margin: 0px;
	padding: 10px;
	border: solid 1px #CCC;
	border-radius: 3px;
	cursor: pointer
}
ul.points {
	margin:0;
	list-style: none;
}
li.point button {
	/*float:right;*/
	/*margin: 0px 2px;*/
	display: none;
}
.inputNewPoint {
	margin-top: 10px;
}