/* CSS declarations go here */

/*.thisStreamactive {
  background: #EFE;
}*/
.streamNavButton {
	width: 50%;
	border-radius: 5px;
}
li.active {
	background-color: #66FF33;
}
li.point {
	margin: 0px;
	padding: 10px;
	border: solid 1px #CCC;
	border-radius: 5px;
	/*cursor: pointer*/
}
ul.points {
	margin:0;
	list-style: none;
}
ul.streams {
	margin:0;
	list-style: none;
}
ul.streams .badge {
	cursor: pointer;
}
li.stream {
	margin: 0px;
	padding: 10px;
	border: solid 1px #CCC;
	border-radius: 5px;
}
li.point .btn-group button {
	/*float:right;*/
	/*margin: 0px 2px;*/
	display: none;
}
li.point img {
	max-width: 50px;
	max-height: 50px;
}
.inputNewPoint {
	/*margin-top: 10px;*/
	border-radius: 5px;
	margin:0;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*.addNewPointContainer button .btn{
	margin-top:0px;
}*/
.addNewPointContainer .btn-block {
	margin-top:0px;
}
.navItems {
	text-align: center;
	padding: 5px;
}

/* Participant View */
.box-point-content {
	
}

.box-point-content img, .box-point-voted-content img{
	max-height: 200px;
}

.participant-view .container-results, .participant-view .container-feedback, .container-finish {
	background-color: #fff;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 8px;
}
.participant-view .container-feedback{
	background-color: #dddddd;
}
.container-finish{
	background-color: #ffffff;
	padding: 60px 30px;
}
.box-vote {
	padding: 3px;
	border-radius: 10px;
	text-align: center;
}
.box-vote h1{
	color: white;
}
.center {
	text-align: center;
	margin: 0 auto;
}
.btn-vote-up {
	border-color: green;
}
.btn-vote-down {
	border-color: red;
}
div#spinner
{
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(/img/loader.gif) no-repeat center #fff;
    text-align:center;
    padding:10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
    border-radius: 10px;
}